:root {
  /*Primary*/

  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /*Secondary*/

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Lighter-Grayish-blue: hsla(218, 14%, 63%, 0.658);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);

  /*Fonts*/

	--fs-small: 0.95rem;
	--fs-medium:1rem;
	--fs-large:1.5rem;
	--fw-light: 200;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 900;

  /*Borders*/

  --soft-edges:8px;
	--rounded-edges:20px;
	--full-circle-border:50%;
}

/*___________________________________________Reset_____________________________________________*/


/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-height: 100vh; /*Might change in the future since it could occupy the entire page*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.171);
  padding: 2rem;
  border-radius: var(--soft-edges);
  width: 100%;
  max-width: 47rem;
  display: grid;
  grid-template-columns: 1fr;
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header{
  display: flex;
  justify-content: space-between;
}

h1{
  font-size: var(--fs-large);
  color: var(--Very-dark-blue);
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.notification-count{
  background-color: var(--Blue);
  color: var(--White);
  /* font-size: var(--fs-medium); */
  font-weight: var(--fw-extra-bold);
  padding: 0rem 0.75rem;
  border-radius: var(--soft-edges);
}

.mark-as-read{
  border: 0;
  background-color: transparent;
  font-size: var(--fs-small);
  color: var(--Dark-grayish-blue);
  cursor: pointer;
}

.mark-as-read:hover{
  color: var(--Blue);
}

.notification-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--Very-light-grayish-blue);
  border-radius: var(--soft-edges);
}

.notification-header{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.private-message{
  border: 1px solid var(--Lighter-Grayish-blue); 
  padding: 1rem;
  max-width: 35rem;
  margin-left: 4rem;
  text-decoration: none;
  color: var(--Grayish-blue);
  border-radius: var(--soft-edges);
}

.private-message:hover{
  background-color: var(--Light-grayish-blue-1);
}

.avatar{
  max-width: 3rem;
}

.notifications{
  padding: 1rem;
}

.notification-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.avatar-name{
  text-decoration: none;
  color: var(--Very-dark-blue);
  font-weight: var(--fw-bold);
}

.avatar-name:hover{
  color: var(--Blue);
}

.notification-type{
  color: var(--Grayish-blue);
}

.notification-reference{
  text-decoration: none;
  font-weight: var(--fw-bold);
}

.notification-reference:hover{
  color: var(--Blue);
}

.post{
  max-width: 3rem;
}

.dark-greyish-blue{
  color: var(--Dark-grayish-blue);
}

.dot{
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--Red);
  border-radius: var(--rounded-edges);
  margin-top: 0.5rem;
}

.notification-duration{
  color: var(--Lighter-Grayish-blue);
}

/*Responsive breakpoint at 500px*/