:root {
  /*Primary*/

  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /*Secondary*/

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);

  /*Fonts*/

	--fs-small: 0.75rem;
	--fs-medium:1rem;
	--fs-large:3rem;
	--fw-light: 200;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 900;

  /*Borders*/

  --soft-edges:8px;
	--rounded-edges:20px;
	--full-circle-border:50%;
}

/*___________________________________________Reset_____________________________________________*/


/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  min-height: 100vh; /*Might change in the future since it could occupy the entire page*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  /*max-width: 45rem;*/ 
  padding: 2rem;
}

.notification-container{
  display: flex;
  gap: 1rem;
  padding: 0.75rem;
}

.profile-picture{
  max-width: 3rem;
}

.notification-content{}

.notification-header{
  display: flex;
}

.notification-type{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.notification-type{
  background-color: rgba(255, 0, 0, 0.123);
}