:root {

  /*_____Primary_____*/

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /*_______Gradients______*/

  --Light-slate-blue: hsl(252, 100%, 67%); /*Background*/
  --Light-royal-blue: hsl(241, 81%, 54%)

  --Violet-blue: hsla(256, 72%, 46%, 1); /*Circle*/
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /*_____Neutral_____*/

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /*Font*/
  --fw-regular: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  --fs-smaller: 0.65rem;
  --fs-small: 0.85rem;
  --fs-normal: 1rem;
  --fs-large: 2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Reset*/

/*Utility classes*/

.flex-column{
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Poppins', sans-serif;
}

main{
  display: flex;
}

.summary-stat{
  display: flex;
  justify-content: space-between;
}

.stat-type{
  display: flex;
}