:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reveal{
  max-height: 100%!important;
  animation: reveal 500ms ease-in-out;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.wrapper{
  padding: 2rem;
  max-width: 40rem;
  background-color: #141414; 
}

.faq{
  padding: 1rem;
}

.question{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem;
  cursor: pointer;
}

.question:hover h3{
  color: rgb(252, 134, 38);
}

.answer{
  color: rgba(240, 248, 255, 0.589);
  padding: 0 1.25rem;
  max-height: 0;
  overflow: hidden!important;
}

.arrow{
  transition: transform 700ms ease;
}

.arrow-up{
  transform: rotateX(-180deg);
}
.arrow-down{
  transform: rotateX(0deg);
}

img{
  display: flex;
  align-self: center;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
  color: rgba(255, 115, 0, 0.911);
}

@keyframes reveal {
  from{
    opacity: 0;
    height: 0;
  }  
  to{
    opacity: 1;
    height: 100%;
    
  }
}

@keyframes rotate {
  from{
    transform: rotateX(-180deg);
  }
  to{
    transform: rotateX(0);
  }
}

@keyframes rotate-reverse {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(-180deg);
  }
}